<div style="color:white;
            display:fill;
            border-radius:15px;
            background-color:crimson;
            font-size:100%;
            font-family:Verdana;
            letter-spacing:1px">
    <h3 style='padding: 20px;
              color:white;
              text-align:center;'>
        NYC Public School Test Result Scores
    </h3>
    </div>

![New York City schoolbus](schoolbus.jpg)

Photo by [Austin Pacheco](https://unsplash.com/@austin_pacheco) on [Unsplash](https://unsplash.com).
<br>


Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a maximum score of 800 points. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

About Dataset  
**school_name**: The list of high schools within the state of New York City
**borough**: The town or district is in New York City
**building_code**: One of the NYC code that set minimum requirements for how to construce the building
**average_math**: The average math score of each schools
**average_reading**: The average reading score of each schools
**average_writing**: The average writing score of each schools
**percent_tested** The percentage of student who participated the SATS

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.


**Which schools produce the highest math scores?**
- Specifically, which schools have an average math SAT score of at least 80%?  
- Save the results as a pandas DataFrame called best_math_schools.

**Who are the top 10 schools based on average results across reading, math, and writing?**
- Save the results as a pandas DataFrame called top_10_schools.  

**Which NYC borough has the largest standard deviation for SAT results?**
- Save the results as a pandas DataFrame called largest_std_dev.

In [8]:
schools['building_code'].unique()

array(['M022', 'M445', 'M056', 'M097', 'M025', 'M446', 'M131', 'M475',
       'M460', 'M877', 'M282', 'M824', 'M833', 'M894', 'M060', 'M874',
       'M660', 'M873', 'M070', 'M440', 'M600', 'M615', 'M620', 'M625',
       'M535', 'M834', 'M488', 'M855', 'M490', 'M837', 'M485', 'M470',
       'M088', 'M125', 'M043', 'M107', 'M013', 'M495', 'M895', 'M435',
       'M136', 'M970', 'M812', 'M540', 'M876', 'M814', 'M143', 'M045',
       'M896', 'M017', 'M486', 'M520', 'M010', 'M465', 'M218', 'M480',
       'M645', 'M477', 'R600', 'R880', 'R450', 'R445', 'R440', 'R435',
       'R455', 'R460', 'R043', 'X790', 'X460', 'X183', 'X884', 'X600',
       'X082', 'X149', 'X139', 'X162', 'X470', 'X400', 'X158', 'X002',
       'X166', 'X148', 'X970', 'X410', 'X876', 'X465', 'X137', 'X435',
       'X099', 'X039', 'X392', 'X973', 'X098', 'X878', 'X067', 'X879',
       'X405', 'X839', 'X368', 'X475', 'X143', 'X141', 'X362', 'X425',
       'X430', 'X445', 'X905', 'X440', 'X415', 'X420', 'X423', 'X450',
       'X174', 'X972', 'X455', 'Q600', 'Q735', 'Q520', 'Q404', 'Q610',
       'Q451', 'Q450', 'Q725', 'Q891', 'Q739', 'Q445', 'Q452', 'Q570',
       'Q798', 'K805', 'K293', 'K580', 'K313', 'K804', 'K415', 'K470',
       'K232', 'K223', 'K505', 'K117', 'K265', 'K914', 'K071', 'K049',
       'K435', 'K660', 'K819', 'K420', 'K218', 'K615', 'K422', 'K490',
       'K405', 'K450', 'K650', 'K778', 'K175', 'K625', 'K455', 'K400',
       'K721', 'K445', 'K460', 'K994', 'K655', 'K430', 'K917', 'K485',
       'K913', 'K987', 'K057', 'K865', 'K610', 'K540', 'K303', 'K440',
       'K590', 'K600', 'K465', 'K425', 'K525', 'K142', 'K564', 'K055',
       'K040', 'K535', 'K410', 'K620', 'K500', 'K515', 'K554', 'K480',
       'K909', 'Q460', 'Q237', 'Q189', 'Q025', 'Q405', 'Q415', 'Q430',
       'Q168', 'Q707', 'Q425', 'Q515', 'Q456', 'Q744', 'Q585', 'Q455',
       'Q440', 'Q686', 'Q485', 'Q490', 'Q192', 'Q420', 'Q650', 'Q480',
       'Q202', 'Q475', 'Q799', 'Q566', 'Q435', 'Q695', 'Q470', 'Q680',
       'Q505', 'Q620', 'Q008', 'Q774', 'Q690', 'Q400', 'Q465', 'Q410',
       'Q180'], dtype=object)

<div style="color:white;
            display:fill;
            border-radius:15px;
            background-color:crimson;
            font-size:100%;
            font-family:Verdana;
            letter-spacing:1px">
    <h3 style='padding: 20px;
              color:white;
              text-align:center;'>
        EXPLORATORY DATA ANALYSIS
    </h3>
    </div>

In [5]:
# Re-run this cell 
import pandas as pd
import numpy as np

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

# Start coding here...
# Add as many cells as you like...

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

In [2]:
# Find the schools where average math score at least 80%
best_math_schools = schools.loc[schools['average_math'] >= 640,['school_name', 'average_math']].sort_values('average_math', ascending=False)
print(best_math_schools)

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

In [3]:
# Find top 10 schools

# sum total SAT score
schools['total_SAT'] = schools['average_math']+schools['average_writing']+schools['average_reading']
top_10_schools = schools[:][['school_name','total_SAT']].sort_values(['total_SAT','school_name'], ascending=[False,True]).head(10)
print(top_10_schools)

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

In [4]:
# Find the largest std of borough

boroughs = schools.groupby('borough')['total_SAT'].agg(['count', 'mean', 'std']).round(2)
largest_std_dev = boroughs[boroughs['std'] == boroughs['std'].max()]
largest_std_dev = largest_std_dev.rename(columns={'count':'num_schools', 'mean':'average_SAT', 'std':'std_SAT'})
print(largest_std_dev)

           num_schools  average_SAT  std_SAT
borough
Manhattan           89      1340.13   230.29